<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Celsius/Fahrenheit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Celsius/Fahrenheit</ion-title>
    </ion-toolbar>
  </ion-header>



<div id="container">
  <ion-list>
    <ion-list-header>Celsius {{celsius | number : '1.1-1'}} &#176;C</ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="celsius" min="-50" max="50" step="1" snaps (ionChange)="celsius_changed()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        <ion-icon slot="end" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-list-header>Fahrenheit {{fahrenheit | number : '1.1-1'}} &#176;F</ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="fahrenheit" min="-58" max="122" step="1" snaps (ionChange)="fahrenheit_changed()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        <ion-icon slot="end" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
</div>
</ion-content>